<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" name="email" ngModel required email>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Colore</mat-label>
        <mat-select name="colore" ngModel>
            <mat-option value="red">Red</mat-option>
            <mat-option value="blue">Blue</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">Submit</button>
</form>