.pallino {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.online {
  background-color: green;
}

.white {
  color: white;
}

.offline {
  background-color: red;
}
