<!-- string -->
<p>Corso benvenuti al {{title.toUpperCase()}}</p>
<p>Corso benvenuti al {{title | uppercase}}</p>
<!-- date -->
<p>Oggi è {{oggi | date}}</p>
<p>Oggi è {{oggi | date:'medium'}}</p>
<p>Oggi è {{oggi | date:'shortTime'}}</p>
<p>Oggi è {{oggi | date:'mm:ss'}}</p>
<p>Oggi è {{oggi | date:'hh:mm:ss'}}</p>
<p>Oggi è {{oggi | date:'dd/MMMM/yyyy - hh:mm:ss'}}</p>
<!-- decimal -->
<p>{{5 | number:'1.1-4'}}</p>
<p>{{5.00781 | number:'1.1-4'}}</p>
<p>{{5.00781 | number:'1.1-5'}}</p>
<!-- percent -->
<p>{{0.05 | percent:'1.1-4'}}</p>
<p>{{0.0500781 | percent:'1.1-4'}}</p>
<p>{{0.0500781 | percent:'1.1-5'}}</p>
<!-- currency -->
<p>{{5 | currency}}</p>
<p>{{5.99 | currency:'EUR': 'symbol':'2.3-5'}}</p>
<!-- locale -->
<p>{{5 | currency : 'it'}}</p>